@import '../../colors';

.subnav {
  position: absolute;
  font-size: 12px;
  left: 30px;
  top: 50px;
  padding: 0;
  list-style: none;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);

  .nav-item {
    font-weight: normal;
    padding: 20px;
    justify-content: left;
  }
}

.nav-item {
  position: relative;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 0 50px;

  a {
    text-decoration: none;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;

    &.selected {
      color: $gold;
    }
  }

  &:hover a,
  &:focus-within a {
    color: $gold;
  }
  &:hover .subnav,
  &:focus-within .subnav {
    a {
      color: $white;
    }
    padding: 0.5rem;
    width: 16rem;
    height: auto;
    background: $mediumGrey;
    clip: auto;
  }

  .subnav {
    & .nav-item:hover a,
    & .nav-item:focus-within a {
      color: $gold;
    }
    a {
      font-weight: normal;

      &.selected {
        color: $gold;
      }
    }
  }
}
